name: CI (build + test)

on:
    push:
        branches: ["main", "release-**"]
    pull_request:
    workflow_dispatch:

env:
    PYTHON_VERSION: "3.13.11"

jobs:
    backend-build-and-test:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ env.PYTHON_VERSION }}
                  cache: "pip"

            - name: Upgrade packaging tools
              run: |
                  python -m pip install -U pip setuptools wheel

            - name: Install Nox
              run: |
                  python -m pip install "nox>=2022"

            - name: Cache Nox virtualenvs
              uses: actions/cache@v4
              with:
                  path: .nox/
                  key: ${{ runner.os }}-nox-${{ hashFiles('noxfile.py') }}-${{ hashFiles('noxfiles/**.py') }}-${{ hashFiles('pyproject.toml') }}
                  restore-keys: |
                      ${{ runner.os }}-nox-

            - name: Endor Labs App Scans
              uses: endorlabs/github-action@main
              with:
                  namespace: "nate-learn"
                  scan_summary_output_type: "table"
                  pr: "false"
                  enable_github_action_token: "true"
                  scan_dependencies: "true"
                  scan_secrets: "true"
                  scan_git_logs: "true"
              #   scan_sast: 'true'

        #   - name: Install dev requirements
        #     run: |
        #       python -m pip install -r dev-requirements.txt
